<html>

<head>
<%= @user.name %>,
</head>

<body>

<p>The offer on need 
<%= @offer.need.name %> 
This offer is now deleted, your money has returned to your account !  </p>

<p>Sorry for the inconvenience ! </p>
 
</body>
</html>