


%br
=radio_button 'report[user_id]', 'Abuse Comment', :checked => true 
Abuse_Comment	
%br	
=radio_button 'report[user_id]', 'Spam', :checked => true
Spam
%br	
=radio_button 'report[user_id]', 'Offensive_Comment', :checked => true
Offensive_Comment	
%br
=radio_button 'report[user_id]', 'Hate_Speech', :checked => true	
Hate_Speech	
%br



= link_to 'Done', :back
