/* showing the update's information in the index page for each user depending on his updates*/
	
%h1 Updates
-if @updates.empty?
	%div{:style => "width:290px"}
		.alert.alert-error
			='There are no updates to display!'
-else
	%table.table.table-condensed.table-stripped{:style => "width:400px"}
		- @updates.each do |update|
			%tr
				%td
					%h4= update.content
				%td
					%p= button_to 'Delete', update, :confirm => 'Are you sure you want to delete this update?', :method => :delete, :class => 'btn-danger btn-small',:remote => true



